[submodule "leaflet"]
	path = leaflet
	url = https://github.com/andrew-t/mandelbrot.git
	branch = leaflet
[submodule "original"]
	path = original
	url = https://github.com/andrew-t/mandelbrot.git
	branch = master
