body {
	margin: 0px; padding: 0px;
	overflow: hidden;
	cursor: pointer;
}

#can {
    position: absolute;
    left: 0px;
    top: 0px
}

#controls {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 250px;
	border: 1px solid black;
	background: rgba(255, 255, 255, 0.8);
	padding: 10px;
	cursor: default;
	opacity: 0.1;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}

#controls:hover {
	opacity: 1.0;
}

#controls > div {
	width: 100%;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.hidden {
	height: 0px !important;
}
#settings {
	height: 175px;
	overflow: hidden;
	line-height: 18px;
	font-size: 18px;
}
#maths {
	height: 300px;
	overflow: auto;
    padding-right: 6px;
}

input {
	width: 60px;
	border: 1px black solid;
}
label {
	min-width: 170px;
	display: inline-block;
}

::-webkit-scrollbar {
    width: 6px;
}
 
::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: #8ff;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #08f;
}