#can {
    position: absolute;
    left: 0px;
    top: 0px;
	height: 100%;
    width: 100%;
    z-index: 1;
	cursor: pointer;
}

#maths {
    padding-right: 6px;
}

#history img {
	width: 100%;
}
#history  {
	list-style: none;
}