#complex-pane {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

#maths {
    padding-right: 6px;
}

#history img {
	width: 100%;
}
#history  {
	list-style: none;
}