body {
	margin: 0px; padding: 0px;
	overflow: hidden;
    font-family: sans-serif;
}

#body {
    position: absolute;
    left: 0px;
    top: 0px;
	height: 100%;
    width: 100%;
    transition: left 0.5s;
    box-shadow: -20px 0 5px 20px black;
    z-index: 2;
}
.menu #body {
	left: -300px;
}

#can {
    position: absolute;
    left: 0px;
    top: 0px;
	height: 100%;
    width: 100%;
    z-index: 1;
	cursor: pointer;
}

#controls {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 300px;
	background: #333;
	color: white;
	padding: 0;
	cursor: default;
    z-index: 0;
}
#tabs {
	background: #888;
	border-bottom: 1px solid black;
	position: absolute;
	top: 0;
	width: 100%;
	left: 0;
	padding: 0;
	height: 35px;
}
#tabs > a {
	padding: 5px 15px;
	height: 25px;
	border-right: #666 1px solid;
	display: inline-block;
	color: white;
	cursor: pointer;
	text-decoration: none;
}
#tabs > a:hover {
	background-color: #aaa;
	color: black;
}
#tabs > a.active {
	background: #333;
	color: white;
	cursor: default;
}

#menu {
	position: absolute;
	background: black;
	color: white;
	padding: 0;
	font-size: 25px;
	text-align: center;
	height: 35px;
	width: 35px;
    top: 20px;
    right: 20px;
    z-index: 2;
    opacity: 1;
    transition: opacity 0.5s;
    box-shadow: 0 1px 2px black;
}
#menu:hover {
	background: white;
	color: black;
}
.menu #menu {
	opacity: 0;
}

.hidden {
	display: none;
}

#settings {
	line-height: 18px;
	font-size: 18px;
}
#maths {
    padding-right: 6px;
}

input {
	width: 60px;
	border: 1px black solid;
}
label {
	min-width: 170px;
	display: inline-block;
}

::-webkit-scrollbar {
    width: 6px;
}
 
::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: transparent;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #000;
}

#controls > *:not(#tabs) {
	position: absolute;
	top: 35px;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 5px 5px 5px 5px;
	overflow: auto;
	margin: 0;
}
#controls > *:not(#tabs) > a {
	display: inline-block;
	cursor: pointer;
	padding: 5px;
	background: white;
	color: black;
	margin: 5px;
}

#history img {
	width: 100%;
}
#history  {
	list-style: none;
}